<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <link href="../assets/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="landing-page" class = "bg-teal">
    <div>
      <div class="card">
        <div>
          <h1>Happify TEST</h1>
          <h2>Welcome to Happify</h2>
          <h3>Get started today!</h3>
          <p>I’ll say it out loud: this confusion often begins with Design and UX. A design comp comes to you with boxy interface buttons, and–because reasons–they have to be coded as links. Where does that become a problem?</p>
        </div>
        <div id="login">
          <a href="/auth/google"><div id="google-button"></div></a>
        </div>
      </div>
      </div>
    <div></div>
  </div>
</body>
