<!--views/partial/header.ejs -->
<header>
  <div id="title">
    <!--img src="/assets/images/png/logo.png"/-->
    <div class="icon-change" id="menu_button">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <h2 class="text-title">Happify</h2>

  </div>

</header>
