<!--views/partial/nav.ejs-->
<aside id="left" class="sidebar">
  <div class="container">
    <div class="content">
      <p>Good morning <%=user.name.givenName%>, how are you feeling?</p>
      <hr/>
      <h3>Here's what your day looks like</h3>
      <ul>
        <li>task</li>
      </ul>
      <hr/>


      <hr/>
      <ul id="nav">
        <li id="track">Track</a></li>
        <li id="plan">Plan</a></li>
        <li id="progress">Progress</a></li>
        <li id="settings">Settings</a></li>
      </ul>
    </div>

  <div id="user">
    <div class ="flex-horizontal-center group-together-horizontal">
      <div id="profile-image" class="img-frame">
        <img src="<%=user.profileImage %>"/>
      </div>
      <p><%=user.name.givenName + " " + user.name.familyName%></p>
    </div>

    <div id="arrow">&#65088;</div>
    <!--div id="user-hidden" class="hidden">

    <a href="/auth/signout">Sign out</a>
  </div-->
</div>

    </div>
</aside>
