<!--views/partial/nav.ejs-->
<aside id="left" class="sidebar">
  <div class="container">
    <div class="content">
      <p>Good morning <%=user.name.givenName%>, how are you feeling?</p>



      <hr/>
      <ul id="nav">
        <li id="home">Home</a></li>
        <li id="survey">Survey</a></li>
        <li id="track">Tracking</a></li>
        <li id="plan">Planning</a></li>
        <li id="evaluation">Evaluation</a></li>
        <li id="progress">Progress</a></li>
        <li id="exercise/5ae88e9ffb7bb21d147047bc">Settings</a></li>
      </ul>
    </div>

  <div id="user-wrapper">
    <div id="user">
    <div id="profile-image" class="img-frame">
        <img src="<%=user.profileImage %>"/>
      </div>
      <div class="flex-column">
        <span><%=user.name.givenName%></span>
        <span><%=user.name.familyName%></span>
      </div>
      <div id="signout">
        <a href="/auth/signout">Sign out</a>
      </div>
    </div>

    <!--div id="arrow">&#65088;</div>
    <!--div id="user-hidden" class="hidden">

    <a href="/auth/signout">Sign out</a>
  </div-->

</div>

    </div>
</aside>
