<!-- views/partial/calendar.ejs -->
<header>
    <h1>Plan your week...</h1>
</header>

<div class="content">
  <div class="card">
    <h1>Monday</h1>
    <span>Morning</span>
    <span>Lunch</span>
    <span>Afternoon</span>
    <span>Evening</span>
    <span>Night </span>
  </div>
  <div class="card">
    <h1>Tuesday</h1>
  </div>
  <div class="card">
    <h1>Wednesday</h1>
  </div>
  <div class="card">
    <h1>Thursday</h1>
  </div>
  <div class="card">
    <h1>Friday</h1>
  </div>
  <div class="card">
    <h1>Saturday</h1>
  </div>
  <div class="card">
    <h1>Sunday</h1>
  </div>
</div>
